nav {
    background: #2B2D42;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav .logo {
    font-weight: bold;
}

nav a {
    color: whitesmoke;
    margin-left: 20px;
    text-decoration: none;
}
