.card {
    border: 2px solid black;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 25%;
    min-height: 500px;
    padding: 1%;
    background: #EDF2F4;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.singlecard{
    position: relative;
    left: 35%;
}

.dashcard {
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.dashcard:hover{
    color: #EF233C;
    transform: scale(1.02);
    box-shadow: 5px 10px #D90429;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    margin: 30px;
}

.description {
    font-style: italic;
}

.header{
    color: #2B2D42;
}