.description {
    font-style: italic;
}

.issues-header{
    color: white;
    background: #2B2D42;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

.dashboard {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 4vh;
}

.issue-row {
    display: flex;
    justify-content: space-evenly;
    background: whitesmoke;
    border-bottom: 1px solid dimgray;
}

.issue-row.header {
    background: #2B2D42;
    color: whitesmoke;
    padding: 1rem;
}

.issue-row.header .col {
    border: none;
}

.issue-row .col {
    text-align: left;
    flex: 1;
    padding: 0 2rem;
    box-sizing: border-box;
    border-right: 1px solid dimgray;
}


.issue-row .col.sm {
    flex: .5;
}

.media-small {
    display: none;
}

.card {
    border: 2px solid black;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    padding: 1%;
    background: #EDF2F4;
    text-align: center;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 4vh;
}

.card h2 {
    margin-left: 0;
}

@media (max-width: 750px) {
    .issue-row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .issue-row.header {
        display: none;
    }
    .media-large {
        display: none;
    }
    .media-small {
        display: inline
    }
    .issue-button {
        align-items: center;
    }
    .issue-row .col {
        border: none;
    }
    .issues-header{
        width: 80%;
    }
}