.card {
    border: 2px solid black;
    border-radius: 14px;
    margin: 10px;
    width: 30%;
    height: 25%;
    padding: 1%;
    background: lightgray;
    cursor: pointer;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 30px;
}